// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.process-palette-resizer {
  .process-palette-resize-handle {
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    height: 10px;
    cursor: row-resize;
    z-index: 3;
  }
}

.process-palette {
  margin: 0;
  padding: 0;
  min-height: 100px;

  .main-content {
    height: 100%;
  }

  .button-group {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 16px;
    z-index: 30;
    text-align: center;
  }

  .help {
    height: 100%;
    width: 100%;
    overflow: auto;

    .header {
      margin-top: 6px;
      padding: 0;
      text-align: center;
    }

    .content {
      margin-top: 1em;
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: 1em;
      font-size: larger;
      line-height: 175%;
    }
  }
}

.process-palette-process-list {
  height: 100%;
  width: 100%;
}

.process-palette-process {
  background: @tool-panel-background-color;

  .header {
    color: @text-color-info;
    font-size: 115%;

    .keystroke {
      color: @text-color;
    }
  }

  .table-title {
    font-weight: 800;
    padding-right: 24px;
    color: @text-color-highlight;
  }
}

.process-palette-scrollable {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.process-palette-output-panel {
  overflow: auto;
  height: 100%;
  width: 100%;
  white-space: pre;
  background-color: black;
  color: white;
}

.process-palette-button-view {
  padding-right: 5px;
}

.process-palette-path-view {
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
}

.hand-cursor {
  cursor: pointer;
  cursor: hand;
}

.process-palette-command-edit-view {
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: @tool-panel-background-color;

  .first-column {
    padding-left: 20px;
  }

  .top-label {
    vertical-align: top;
  }

  .multi-line-editor {
    border: 1px solid @input-border-color;
    background-color: @input-background-color;
    min-height: 4.5em;
  }

  .check-label {
    padding-left: 10px;
  }
  // h1 {
  //   color: red;
  // }

  table {
    width: 50%;
    font-size: larger;

    td {
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
